################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PdfFooterAdd/obj/Debug
/.vs
/packages
/PdfFooterAdd/bin/Debug
/PdfFooterAdd/Properties
